@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'ChosunSg';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
font-family: 'Noto Sans KR', sans-serif;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

body {
line-height: 1;
font-family: 'GmarketSansMedium';
color: #333;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

a {
text-decoration: none;
color: inherit;
}

img {
vertical-align: top;
}

.hidden {
width: 0;
height: 0;
font-size: 0;
position: absolute;
left: -9999px;
overflow: hidden;
}

header {
border-bottom: 1px solid #efefef;
}

.corona {
width: 100%;
height: 100px;
background: url('../images/bg_corona.jpeg') no-repeat center;
position: relative;
}

.corona .corona_container {
position: relative;
width: 1240px;
margin: 0 auto;
height: 100px;
display: flex;
justify-content: space-between;
}

.corona .corona_container .corona_title {
width: 360px;
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
}

.corona .corona_container .corona_title dt img {
margin-bottom: 10px;
}

.corona .corona_container .corona_title dl dd {
font-size: 14px;
margin-left: 4px;
}

.corona .corona_container .corona_number {
width: 830px;
height: 100px;
display: flex;
align-items: center;
justify-content: space-between;
}

.corona .corona_container .corona_number .case {
height: 75px;
background-color: white;
display: flex;
border-radius: 10px;
}

.corona .corona_container .corona_number .case li:nth-of-type(1) {
width: 120px;
}

.corona .corona_container .corona_number .case li:nth-of-type(1) span strong {
font-size: 16px;
color: #e41a1a;
}

.corona .corona_container .corona_number .case li:nth-of-type(2), .corona .corona_container .corona_number .case li:nth-of-type(3) {
width: 140px;
}

.corona .corona_container .corona_number .case li:nth-of-type(2) strong, .corona .corona_container .corona_number .case li:nth-of-type(3) strong {
font-size: 15px;
color: #838c90;
}

.corona .corona_container .corona_number .case li:nth-of-type(2) p, .corona .corona_container .corona_number .case li:nth-of-type(3) em {
font-size: 16px;
color: #333;
}

.corona .corona_container .corona_number .case li span {
display: block;
height: 75px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.corona .corona_container .corona_number .case li span em {
margin-top: 10px;
}

.corona .corona_container .corona_number .case li span:before {
content: "";
display: block;
position: absolute;
top: calc(50% - 22.5px);
left: 0;
width: 1px;
height: 45px;
background-color: #efefef;
}

.corona .corona_container .corona_number .status {
height: 75px;
background-color: white;
display: flex;
border-radius: 10px;
}

.corona .corona_container .corona_number .status li:nth-of-type(1) {
width: 120px;
}

.corona .corona_container .corona_number .status li:nth-of-type(1) span strong {
font-size: 16px;
color: #e41a1a;
}

.corona .corona_container .corona_number .status li:nth-of-type(2), .corona .corona_container .corona_number .status li:nth-of-type(3) {
width: 140px;
}

.corona .corona_container .corona_number .status li:nth-of-type(2) strong, .corona .corona_container .corona_number .status li:nth-of-type(3) strong {
font-size: 15px;
color: #838c90;
}

.corona .corona_container .corona_number .status li:nth-of-type(2) p, .corona .corona_container .corona_number .status li:nth-of-type(3) em {
font-size: 16px;
color: #333;
}

.corona .corona_container .corona_number .status li span {
display: block;
height: 75px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.corona .corona_container .corona_number .status li span em {
margin-top: 10px;
}

.corona .corona_container .corona_number .status li span:before {
content: "";
display: block;
position: absolute;
top: calc(50% - 22.5px);
left: 0;
width: 1px;
height: 45px;
background-color: #efefef;
}

header .corona .corona_exit {
display: flex;
align-items: center;
position: absolute;
right: 10px;
bottom: 15px;
}

header .corona .corona_exit input[type = "checkbox"] {
width: 16px;
height: 16px;
margin-right: 5px;
}

header .corona .corona_exit span {
font-size: 14px;
}

header .corona .corona_exit svg {
background-color: #2280d7;
border-radius: 50%;
width: 18px;
height: 18px;
position: relative;
bottom: 2px;
margin-left: 5px;
cursor: pointer;
}

header .hd_mid {
border-bottom: 1px solid #efefef;
}

header .hd_mid .hd_mid_container {
width: 1420px;
margin: 0 auto;
display: flex;
justify-content: space-between;
}

header .hd_mid .hd_mid_container .hd_mid_left:after {
content: "";
clear: both;
display: block;
}

header .hd_mid .hd_mid_container .hd_mid_left li {
float: left
}

header .hd_mid .hd_mid_container .hd_mid_left li a:link, header .hd_mid .hd_mid_container .hd_mid_left li a:visited {
display: block;
line-height: 45px;
font-size: 14px;
}

header .hd_mid .hd_mid_container .hd_mid_left li a:hover, header .hd_mid .hd_mid_container .hd_mid_left li a:focus, header .hd_mid .hd_mid_container .hd_mid_left li a:active {
font-weight: bold;
color: #2280d7;
}

header .hd_mid .hd_mid_container .hd_mid_left li:first-child a {
color: #2280d7;
font-weight: bold;
}

header .hd_mid .hd_mid_container .hd_mid_left li:not(:last-child) a {
margin-right: 30px;
}

header .hd_mid .hd_mid_container .hd_mid_right {
font-family: 'ChosunSg';
display: flex;
font-size: 14px;
font-weight: lighter;
display: flex;
align-items: center;
}

header .hd_mid .hd_mid_container .hd_mid_right li:nth-of-type(2) a {
display: flex;
position: relative;
padding: 14px 0;
}

header .hd_mid .hd_mid_container .hd_mid_right li:nth-of-type(2) a img:nth-of-type(1) {
width: 11px;
height: 11px;
margin: 0 5px 0 40px;
position: relative;
top: 1px;
}

header .hd_mid .hd_mid_container .hd_mid_right li:nth-of-type(2) a img:nth-of-type(2) {
width: 12px;
height: 12px;
margin-left: 20px;
position: relative;
top: 3px;
filter: invert(19%) sepia(0%) saturate(1%) hue-rotate(319deg) brightness(97%) contrast(96%);
}

header .hd_mid .hd_mid_container .hd_mid_right li:nth-of-type(2) a img:nth-of-type(2).turn {
transform: scaleY(-1);
}

header .hd_mid .hd_mid_container .hd_mid_right li:nth-of-type(2) {
position: relative;
}

header .hd_mid .hd_mid_container .hd_mid_right li:nth-of-type(2) .lang {
position: absolute;
right: 0;
margin-top: 2px;
z-index: 100;
display: none;
}

header .hd_mid .hd_mid_container .hd_mid_right li:nth-of-type(2) .lang li {
width: 75px;
height: 30px;
box-sizing: border-box;
line-height: 30px;
text-align: center;
background-color: #fff;
}

header .hd_mid .hd_mid_container .hd_mid_right li:nth-of-type(2) .lang li.lang_sec {
background: #2280d7;
color: white;
}

header .hd_mid .hd_mid_container .hd_mid_right li:nth-of-type(2) .lang li:nth-of-type(2), header .hd_mid .hd_mid_container .hd_mid_right li:nth-of-type(2) .lang li:nth-of-type(3) {
border-top: none;
}

header .hd_bot .hd_bot_container {
height: 118px;
width: 1420px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
}

header .hd_bot .hd_bot_container .hd_bot_left {
display: flex;
}

header .hd_bot .hd_bot_container .hd_bot_left h1 {
padding-left: 15px;
margin-right: 20px;
}

header .hd_bot .hd_bot_container .hd_bot_mid {
width: 570px;
height: 60px;
border: 3px solid #2280d7;
border-radius: 5px;
box-sizing: border-box;
padding-left: 35px;
display: flex;
align-items: center;
position: relative;
}

header .hd_bot .hd_bot_container .hd_bot_mid input[type="text"] {
width: 465px;
height: 30px;
border: none;
padding: 0;
}

header .hd_bot .hd_bot_container .hd_bot_mid input[type="text"]::placeholder {
font-size: 18px;
color: #2280d7;
font-family: 'GmarketSansMedium';
}

header .hd_bot .hd_bot_container .hd_bot_mid input[type="text"]:focus::placeholder {
color: transparent;
}

header .hd_bot .hd_bot_container .hd_bot_mid button {
width: 60px;
height: 60px;
background-color: #2280d7;
border: none;
position: absolute;
right: 0;
border-radius: 5px;
padding: 0;
cursor: pointer;
}

header .hd_bot .hd_bot_container .hd_bot_right {
display: flex;
align-items: center;
}

header .hd_bot .hd_bot_container .hd_bot_right .info {
margin: 0 10px 0 10px;
}

header .hd_bot .hd_bot_container .hd_bot_right .info strong {
font-size: 20px;
font-weight: bold;
}

header .hd_bot .hd_bot_container .hd_bot_right .info p {
font-size: 13px;
font-family: 'ChosunSg';
margin-top: 5px;
}

header .hd_bot .hd_bot_container .hd_bot_right .emo {
font-size: 13px;
}

header .hd_bot .hd_bot_container .hd_bot_right .emo ul li {
display: flex;
margin-top: 10px;
}

header .hd_bot .hd_bot_container .hd_bot_right .emo ul li:nth-of-type(2) {
justify-content: flex-end;
}


header .hd_bot .hd_bot_container .hd_bot_right .emo ul li img {
margin-left: 3px;
}

header .hd_bot .hd_bot_container .hd_bot_right .emo ul li p {
margin-right: 5px;
}

header .hd_bot .hd_bot_container .hd_bot_right button {
position: absolute;
right: 0;
top: 10px; 
width: auto;
height: 22px;
border: none;
background-color: #2280d7;
border-radius: 20px;
font-size: 11px;
display: flex;
align-items:center;
justify-content: center;
cursor: pointer;
font-weight: bold;
color: #fff;
box-sizing: border-box;
border: 1px solid rgba(0, 0, 0, 0);
}

header .hd_bot .hd_bot_container .hd_bot_right button:hover {
border: 1px solid #2280d7;
background-color: white;
color: #333;
}

header .hd_bot .hd_bot_container .hd_bot_right button:hover > img {
filter: invert(0%) sepia(31%) saturate(7500%) hue-rotate(38deg) brightness(97%) contrast(106%);
}

header .hd_bot .hd_bot_container .hd_bot_right button img {
filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(325deg) brightness(106%) contrast(106%);
}

header .hd_menu {
border-top: 1px solid #efefef;
position: relative;
}


header .hd_menu .hd_menu_container {
width: 1420px;
margin: 0 auto;
height: 60px;
box-sizing: border-box;
padding: 0 200px;
display: flex;
align-items: center;
}

.hd_sm_container {
width: 1220px;
height: 60px;
box-sizing: border-box;
position: absolute;
}

.hd_sm_box {
width: 100%;
height: 60px;
position: relative;
}

.hd_sm_box > a {
position: absolute;
right: 0;
top: 6px;
}

header .hd_menu .hd_menu_container .hd_menu_main:after {
content: "";
clear: both;
display: block;
}

.hmc_menu {
position: absolute;
right: 224px;
}


header .hd_menu .hd_menu_container .hd_menu_main > li {
width: 204px;
text-align: center;
height: 60px;
float: left;
}

header .hd_menu .hd_menu_container .hd_menu_main > li > a {
padding: 20px 40px;
font-size: 18px;
text-align: center;
position: relative;
line-height: 60px;
}

header .hd_menu .hd_menu_container .hd_menu_main > li > a:after {
position: absolute;
content:""; 
display: block; 
border-bottom: 2px solid #2280d7;
transition: all 500ms ease-out;
left: 50%;
width: 0;
z-index: 120;
}

header .hd_menu .hd_menu_container .hd_menu_main > li > a:hover:after {
transition: all 500ms ease-out;
left: 0%;
width: 100%;
z-index: 120;
}

header .hd_menu .hd_menu_container .hd_menu_main li:nth-of-type(1) #menu_sub1 {
background-color: white;
height: 479px;
width: 100%;
position: absolute;
left: 0;
top: 60px;
border-top: 1px solid #efefef;
border-bottom: 1px solid #efefef;
box-sizing: border-box;
display: none;
z-index: 100;
}

header .hd_menu .hd_menu_container .hd_menu_main li:nth-of-type(1) #menu_sub1 .sub1_container {
width: 1440px;
height: 479px;
margin: 0 auto;
display: flex;
}

header .hd_menu .hd_menu_container .hd_menu_main li:nth-of-type(1) #menu_sub1 .sub1_container .sub1_left {
width: 280px;
height: 479px;
border-right: 1px solid #efefef;
box-sizing: border-box;
text-align: left;
}

header .hd_menu .hd_menu_container .hd_menu_main li:nth-of-type(1) #menu_sub1 .sub1_container .sub1_left strong {
font-size: 30px;
font-weight: bold;
margin-top: 30px;
display: block;
}

header .hd_menu .hd_menu_container .hd_menu_main li:nth-of-type(1) #menu_sub1 .sub1_container .sub1_left p {
font-size: 18px;
font-weight: normal;
margin-top: 15px;
color: #444;
}

header .hd_menu .hd_menu_container .hd_menu_main li:nth-of-type(1) #menu_sub1 .sub1_container .sub1_right {
width: 1160px;
height: 479px;
}

.sub_link1{
display: flex;
}

.sub_link1 > li {
width: 290px;
height: 479px;
text-align: left;
padding-top: 55px;
box-sizing: border-box;
display: flex;
justify-content: flex-start;
flex-direction: column;
padding: 55px 25px 0 25px;
}

.sub_link1 > li > a {
display: block;
font-size: 16px;
width: 240px;
height: 40px;
border: 2px solid #efefef;
box-sizing: border-box;
border-radius: 5px;
line-height: 40px;
padding-left: 20px;
position: relative;
font-weight: bold;
transition: 0.3s background;
}

.sub_link1 > li > a:hover {
border: 1px solid rgba(0, 0, 0, 0);
background-color: #2280d7;
color: white;
box-sizing: border-box;
}

.sub_link1 > li > a:hover > img {
filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(103%) contrast(104%);
}

.sub_link1 > li a img {
position: absolute;
right: 18px;
top: calc(50% - 8px);
}

.sub_link1 > li:not(:nth-of-type(4)) {
border-right: 1px solid #efefef;
}

.sub_link1 li > ul > li {
margin-top: 10px;
list-style: square;
margin-left: 25px;
}

.sub_link1 li > ul > li > a {
display: block;
font-size: 14px;
color: #666;
}

.sub_link1 li > ul > li > a:hover {
color: #333;
text-decoration: underline;
}

.sub_link1 li > ul > li:nth-of-type(1) {
margin-top: 15px;
}

.sub_link1 .sub_link1_tab {
width: 290px;
height: 479px;
text-align: left;
padding-top: 55px;
box-sizing: border-box;
border-right: 1px solid #efefef;
}

.sub_link1 .sub_link1_tab > li {
display: flex;
justify-content: center;
}

.sub_link1 .sub_link1_tab > li > a {
width: 240px;
height: 40px;
font-size: 16px;
line-height: 40px;
border: 2px solid #efefef;
display: block;
box-sizing: border-box;
padding-left: 20px;
border-radius: 5px;
position: relative;
}

.sub_link1 .sub_link1_tab > li > a:hover {
border: 1px solid rgba(0, 0, 0, 0);
background-color: #2280d7;
color: white;
box-sizing: border-box;
}

.sub_link1 .sub_link1_tab > li > a:hover > img {
filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(103%) contrast(104%);
}

.sub_link1 .sub_link1_tab > li > a > img {
position: absolute;
right: 18px;
top: calc(50% - 8px);
}

.sub_link1 .sub_link1_tab li:nth-of-type(2) > a {
display: block;
margin-top: 110px;
}


header .hd_menu .hd_menu_container .hd_menu_main li:nth-of-type(2) #menu_sub2 {
background-color: white;
height: 503px;
width: 100%;
position: absolute;
left: 0;
top: 60px;
border-top: 1px solid #efefef;
border-bottom: 1px solid #efefef;
box-sizing: border-box;
display: none;
z-index: 100;
}

.sub2_container {
width: 1440px;
height: 503px;
margin: 0 auto;
display: flex;
}

.sub2_left {
width: 280px;
height: 503px;
border-right: 1px solid #efefef;
box-sizing: border-box;
text-align: left;
}

.sub2_left > strong {
font-size: 30px;
font-weight: bold;
margin-top: 30px;
display: block;
}

.sub2_left > p {
font-size: 18px;
font-weight: normal;
margin-top: 15px;
color: #444;
}

.sub2_right { 
width: 1160px;
height: 503px;
}

.sub_link2 {
display: flex;
}

.sub_link2 > li {
width: 290px;
height: 503px;
text-align: left;
padding-top: 55px;
box-sizing: border-box;
display: flex;
justify-content: flex-start;
flex-direction: column;
padding: 55px 25px 0 25px;
}

.sub_link2 > li > a {
display: block;
font-size: 16px;
width: 240px;
height: 40px;
border: 2px solid #efefef;
box-sizing: border-box;
border-radius: 5px;
line-height: 40px;
padding-left: 20px;
position: relative;
font-weight: bold;
transition: 0.3s background;
}

.sub_link2 > li > a:hover {
border: 1px solid rgba(0, 0, 0, 0);
background-color: #2280d7;
color: white;
box-sizing: border-box;
}

.sub_link2 > li > a:hover > img {
filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(103%) contrast(104%);
}

.sub_link2 > li a img {
position: absolute;
right: 18px;
top: calc(50% - 8px);
}

.sub_link2 > li:not(:nth-of-type(4)) {
border-right: 1px solid #efefef;
}

.sub_link2 li > ul > li {
margin-top: 10px;
list-style: square;
margin-left: 25px;
}

.sub_link2 li > ul > li > a {
display: block;
font-size: 14px;
color: #666;
}

.sub_link2 li > ul > li > a:hover {
color: #333;
text-decoration: underline;
}

.sub_link2 li > ul > li:nth-of-type(1) {
margin-top: 15px;
}

.sub_link2 .sub_link2_tab {
width: 290px;
height: 503px;
text-align: left;
padding-top: 55px;
box-sizing: border-box;
border-right: 1px solid #efefef;
}

.sub_link2 .sub_link2_tab > li {
display: flex;
justify-content: center;
}

.sub_link2 .sub_link2_tab > li > a {
width: 240px;
height: 40px;
font-size: 16px;
line-height: 40px;
border: 2px solid #efefef;
display: block;
box-sizing: border-box;
padding-left: 20px;
border-radius: 5px;
position: relative;
}

.sub_link2 .sub_link2_tab > li > a:hover {
border: 1px solid rgba(0, 0, 0, 0);
background-color: #2280d7;
color: white;
box-sizing: border-box;
}

.sub_link2 .sub_link2_tab > li > a:hover > img {
filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(103%) contrast(104%);
}

.sub_link2 .sub_link2_tab > li > a > img {
position: absolute;
right: 18px;
top: calc(50% - 8px);
}

.sub_link2 .sub_link2_tab li:nth-of-type(2) > a {
display: block;
margin-top: 185px;
}

header .hd_menu .hd_menu_container .hd_menu_main li:nth-of-type(3) #menu_sub3 {
height: 785px;
width: 100%;
position: absolute;
left: 0;
top: 60px;
border-top: 1px solid #efefef;
border-bottom: 1px solid #efefef;
box-sizing: border-box;
display: none;
background-color: white;
z-index: 100;
}

.sub3_container {
width: 1440px;
height: 785px;
margin: 0 auto;
display: flex;
}

.sub3_left {
width: 280px;
height: 785px;
border-right: 1px solid #efefef;
box-sizing: border-box;
text-align: left;
}

.sub3_left > strong {
font-size: 30px;
font-weight: bold;
margin-top: 30px;
display: block;
}

.sub3_left > p {
font-size: 18px;
font-weight: normal;
margin-top: 15px;
color: #444;
}

.sub3_right { 
width: 1160px;
height: 785px;
} 

.sub_link3 {
display: flex;
}

.sub_link3_tab {
width: 290px;
height: 785px;
padding-top: 55px;
box-sizing: border-box;
}

.sub_link3_tab:not(:last-of-type) {
border-right: 1px solid #efefef;
box-sizing: border-box;
}

.sub_link3_tab > li {
display: flex;
justify-content: center;
}

.sub_link3_tab > li > a {
width: 240px;
height: 40px;
line-height: 40px;
border: 1px solid #efefef;
border-radius: 5px;
display: block;
text-align: left;
padding-left: 20px;
box-sizing: border-box;
}

.sub_link3_tab > li > a:hover {
border: 1px solid rgba(0, 0, 0, 0);
background-color: #2280d7;
color: white;
box-sizing: border-box;
}

.sub_link3_tab > li > a:hover > .quick_arrow {
filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(339deg) brightness(103%) contrast(100%);
}

.sub_link3_tab > li > a:hover > .quick_bar {
filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(339deg) brightness(103%) contrast(100%);
}

.sub_link3_tab > li > ul > li > a {
font-size: 14px;
color: #666
}

.sub_link3_tab > li > ul > li > a:hover {
color: #333;
text-decoration: underline;
}

#sub_link3_tab_box1 li:nth-of-type(2) {
margin-bottom: 293px;
}

#sub_link3_tab_box1 > li:nth-of-type(3) > a {
display: flex;
align-items: center;
}

#sub_link3_tab_box1 li:nth-of-type(3) a img {
width: 12px;
height: 12px;
position: relative;
bottom: 1px;
margin-left: 5px;
}

#sub_link3_tab_box1 > li:nth-of-type(1) {
display: flex;
flex-direction: column;
padding: 0 25px;
}

#sub_link3_tab_box1 li:nth-of-type(1) > ul {
display: flex;
flex-direction: column;
align-items: flex-start;
}

#sub_link3_tab_box1 li:nth-of-type(1) > ul > li:nth-of-type(1) {
display: none;
}

#sub_link3_tab_box1 li:nth-of-type(1) > ul > li:nth-of-type(2) {
margin-top: 15px;
}

#sub_link3_tab_box1 li:nth-of-type(1) > ul > li {
margin: 0;
margin-left: 25px;
margin-top: 10px;
list-style: square;
text-align: left;
}

#sub_link3_tab_box1 > li:nth-of-type(2) {
padding: 0 25px;
display: flex;
flex-direction: column;
margin: 0;
}

#sub_link3_tab_box1 > li:nth-of-type(2) > ul {
display: flex;
flex-direction: column;
align-items: flex-start;
}

#sub_link3_tab_box1 > li:nth-of-type(2) > ul > li {
margin: 0;
list-style: square;
margin-left: 25px;
margin-top: 10px;
}

#sub_link3_tab_box1 > li:nth-of-type(2) > ul > li:nth-of-type(1) {
margin-top: 15px;
}

#sub_link3_tab_box1 > li:nth-of-type(2) > ul > li > a {
text-align: left;
font-size: 14px;
color: #666; 
}

#sub_link3_tab_box1 > li:nth-of-type(3) {
margin-top: 78px;
} 

#sub_link3_tab_box1 > li:nth-of-type(1) {
margin-bottom: 100px;
}

#sub_link3_tab_box2 li:nth-of-type(1), #sub_link3_tab_box3 li:nth-of-type(1), #sub_link3_tab_box4 li:nth-of-type(1) {
margin-bottom: 235px;
}

#sub_link3_tab_box2 li:nth-of-type(2), #sub_link3_tab_box3 li:nth-of-type(2){
margin-bottom: 220px;
}

#sub_link3_tab_box2 li:nth-of-type(3), #sub_link3_tab_box3 li:nth-of-type(3){
margin-bottom: 30px;
}

#sub_link3_tab_box3 li:nth-of-type(3) a {
display: flex;
align-items: center;
}

#sub_link3_tab_box3 li:nth-of-type(3) a img {
width: 12px;
height: 12px;
position: relative;
bottom: 1px;
margin-left: 5px;
}

#sub_link3_tab_box4 li:nth-of-type(2) a {
display: flex;
align-items: center;
}

#sub_link3_tab_box4 li:nth-of-type(2) a img {
width: 12px;
height: 12px;
position: relative;
bottom: 1px;
margin-left: 5px;
}

#sub_link3_tab_box4 li:nth-of-type(2) {
margin-bottom: 30px;
}

#sub_link3_tab_box4 li:nth-of-type(3) {
margin-bottom: 147px;
}

#sub_link3_tab_box4 li:nth-of-type(4) {
margin-bottom: 30px;
}

.sub_link3_tab > li > a {
position: relative;
}

.quick_arrow {
position: absolute;
right: 18px;
top: calc(50% - 8px);
}

.quick_bar {
filter: invert(44%) sepia(87%) saturate(2452%) hue-rotate(189deg) brightness(89%) contrast(88%);
}

header .hd_menu .hd_menu_container .hd_menu_main li:nth-of-type(4) #menu_sub4 {
background-color: white;
height: 522px;
width: 100%;
position: absolute;
left: 0;
top: 60px;
border-top: 1px solid #efefef;
border-bottom: 1px solid #efefef;
box-sizing: border-box;
display: none;
z-index: 100;
}

.sub4_container {
width: 1440px;
height: 522px;
margin: 0 auto;
display: flex;
}

.sub4_left {
width: 280px;
height: 522px;
border-right: 1px solid #efefef;
box-sizing: border-box;
text-align: left;
}

.sub4_left > strong {
font-size: 30px;
font-weight: bold;
margin-top: 30px;
display: block;
}

.sub4_left > p {
font-size: 18px;
font-weight: normal;
margin-top: 15px;
color: #444;
}

.sub4_right { 
width: 1160px;
height: 522px;
}

.sub_link4 {
display: flex;
}

.sub_link4 > li {
width: 290px;
height: 522px;
text-align: left;
padding-top: 55px;
box-sizing: border-box;
padding: 55px 25px 0 25px;
}

.sub_link4 > li > a {
display: block;
font-size: 16px;
width: 240px;
height: 40px;
border: 2px solid #efefef;
box-sizing: border-box;
border-radius: 5px;
line-height: 40px;
padding-left: 20px;
position: relative;
font-weight: bold;
transition: 0.3s background;
}

.sub_link4 > li > a:hover {
border: 1px solid rgba(0, 0, 0, 0);
background-color: #2280d7;
color: white;
box-sizing: border-box;
}

.sub_link4 > li > a:hover > img {
filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(103%) contrast(104%);
}

.sub_link4 > li a img {
position: absolute;
right: 18px;
top: calc(50% - 8px);
}

.sub_link4 > li:not(:nth-of-type(4)) {
border-right: 1px solid #efefef;
}

.sub_link4 > li > ul > li {
margin-top: 10px;
list-style: square;
margin-left: 25px;
}

.sub_link4 li > ul > li > a {
display: block;
font-size: 14px;
color: #666;
}

.sub_link4 li > ul > li > a:hover {
color: #333;
text-decoration: underline;
}

.sub_link4 li > ul > li:nth-of-type(1) {
margin-top: 15px;
}

.sub_link4 .sub_link4_tab {
width: 290px;
height: 522px;
text-align: left;
padding-top: 55px;
box-sizing: border-box;
border-right: 1px solid #efefef;
}

.sub_link4 .sub_link4_tab > li {
display: flex;
flex-direction: column;
align-items: center;
}

.sub_link4 .sub_link4_tab > li > a {
width: 240px;
height: 40px;
font-size: 16px;
line-height: 40px;
border: 2px solid #efefef;
display: block;
box-sizing: border-box;
padding-left: 20px;
border-radius: 5px;
position: relative;
}

.sub_link4 .sub_link4_tab > li > a:hover {
border: 1px solid rgba(0, 0, 0, 0);
background-color: #2280d7;
color: white;
box-sizing: border-box;
}

.sub_link4 .sub_link4_tab > li > a:hover > img {
filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(103%) contrast(104%);
}

.sub_link4 .sub_link4_tab > li > a > img {
position: absolute;
right: 18px;
top: calc(50% - 8px);
}

#sub_link4_tab_box1 > li:nth-of-type(2), #sub_link4_tab_box2 > li:nth-of-type(2) {
margin-top: 200px;
}

#sub_link4_tab_box3 > li:nth-of-type(2) {
margin-top: 30px;
}

#sub_link4_tab_box3 > li:nth-of-type(3) {
margin-top: 130px;
}

header .hd_menu .hd_menu_container .hd_menu_main li:nth-of-type(5) #menu_sub5 {
background-color: white;
height: 227px;
width: 100%;
position: absolute;
left: 0;
top: 60px;
border-top: 1px solid #efefef;
border-bottom: 1px solid #efefef;
box-sizing: border-box;
display: none;
z-index: 100;
}

.sub5_container {
width: 1440px;
height: 227px;
margin: 0 auto;
display: flex;
}

.sub5_left {
width: 280px;
height: 227px;
border-right: 1px solid #efefef;
box-sizing: border-box;
text-align: left;
}

.sub5_left > strong {
font-size: 30px;
font-weight: bold;
margin-top: 30px;
display: block;
}

.sub5_left > p {
font-size: 18px;
font-weight: normal;
margin-top: 15px;
color: #444;
}

.sub5_right { 
width: 1160px;
height: 227px;
}

.sub5_right > ul {
display: flex;
justify-content: space-evenly;
align-items: center;
height: 227px;
}

.sub5_right > ul > li > a {
width: 120px;
height: 120px;
display: flex;
align-items: center;
flex-direction: column;
}

.sub5_right > ul > li > a > span {
width: 75px;
height: 75px;
background-color: white;
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
box-sizing: border-box;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
border: 1px solid transparent;
transition: 0.3s;
}

.sub5_right > ul > li > a:hover > span {
background-image: linear-gradient(#fff, #fff), linear-gradient(45deg, #00a4c7, #6cb30e, #d61e64);
background-origin: border-box;
background-clip: content-box, border-box;
box-sizing: border-box;
}

.sub5_right > ul > li > a > p {
font-size: 15px;
margin-top: 15px;
}

#cp_contents {
  padding: 30px 0 50px 0;
}

.cp_contents_container {
  width: 1420px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.cp_link {
  width: 268px;
  height: 1000px;
  border-radius: 20px;
}

.cp_link_tit {
  height: 142px;
  background-color: #5a8ad9;
  border-radius: 20px 20px 0 0;
  font-size: 28px;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 40px 10px 70px 10px;
}

.cp_link_menu {
  width: 100%;
  height: auto;
  padding: 40px 20px;
  box-sizing: border-box;
  margin-top: -30px;
  z-index: 10;
  background-color: white;
  border: 1px solid #dadcdf;
  border-radius: 20px;
}

.cp_main_link > li > a {
  display: block;
  width: 100%;
  padding: 20px 35px 20px 15px;
  box-sizing: border-box;
  font-size: 17px;
  position: relative;
}

.cp_main_link > li > a > span {
  width: 22px;
  height: 22px;
  background-color: none;
  display: block;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: calc(50% - 11px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cp_main_link > li > a > span.cml_sp {
  background-color: #3e8cd6;
}

.cp_main_link > li > a > span > img.cml_img{
  transform: scaleY(-1);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(213deg) brightness(104%) contrast(101%);
}

.cp_sub_link {
  display: none;
  padding: 0 10px;
  box-sizing: border-box;
}

.cp_sub_link.csl_active {
  display: block;
  border-top: 2px solid #4175c7;
  border-bottom: 2px solid #4175c7;
}

.cp_sub_link > li > a {
  box-sizing: border-box;
  font-size: 15px;
  color: #666;
  position: relative;
  display: block;
  border-bottom: 1px dashed #999;
  padding: 15px 25px 15px 15px;
}

.cp_sub_link > li > a.csl_txt {
  color: #3c88de;
}

.cp_sub_link > li:last-of-type > a {
  border: none;
}

.cp_sub_link > li > a:not(.csl_txt):hover {
  color: #333;
}

.csl_link_arrow {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 10px;
  top: calc(50% - 5px);
  filter: invert(94%) sepia(8%) saturate(51%) hue-rotate(182deg) brightness(87%) contrast(94%);
}

.cp_sub_link > li > a > img.csl_link_arrow.csl_ac {
  filter: invert(74%) sepia(82%) saturate(5453%) hue-rotate(192deg) brightness(92%) contrast(88%);
}

.csl_link_box {
  width: 11px;
  height: 11px;
  position: absolute;
  right: 10px;
  top: calc(50% - 5.5px);
}

.cp_contents_box {
  width: 1080px;
  height: auto;
  margin: 30px 0;
  flex-direction: column;
  display: none;
}

.cp_contents_box_active {
  display: flex;
}

.cp_cb_tit {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 40px;
}

.cp_cb_txt > h3 {
  font-size: 26px;
  font-weight: bold;
}

.cp_cb_ex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cp_cb_ex_l {
  display: flex;
  font-size: 14px;
  color: #666;
}

.cp_cb_ex_l > li > img {
  filter: invert(34%) sepia(0%) saturate(1444%) hue-rotate(232deg) brightness(111%) contrast(84%);
  position: relative;
  bottom: 3px;
}

.cp_cb_ex_l > li:nth-of-type(1):after, .cp_cb_ex_l > li:nth-of-type(2):after, .cp_cb_ex_l > li:nth-of-type(3):after{
  content: "";
  display: inline-block;
  background: url("../images/cp_cb_ex_arrow.png") no-repeat center;
  width: 6px;
  height: 6px;
  filter: invert(34%) sepia(0%) saturate(1444%) hue-rotate(232deg) brightness(111%) contrast(84%);
  margin: 0 5px;
}

.cp_cb_ex_l > li:nth-of-type(4) {
  text-decoration: underline;
}

.cp_cb_ex_l > li:nth-of-type(4):after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #969696;
  margin: 0 15px;
}

.cp_cb_ex_r {
  display: flex;
}

.cp_cb_ex_r > li > a > img {
  filter: invert(34%) sepia(0%) saturate(1444%) hue-rotate(232deg) brightness(111%) contrast(84%);
  position: relative;
  bottom: 2px;
}

.cp_cb_ex_r > li:nth-of-type(1) > a > img {
  margin-right: 10px;
}

.cp_contents_txt {
  width: 1000px;
  margin: 0 auto;
  height: auto;
}

.cp_contents_txt > h3 {
  font-size: 24px;
}

.cp_contents_txt > h3:first-of-type {
  margin-bottom: 20px;
}

.cp_contents_txt > img {
  margin: 0 auto;
}

.cp_contents_txt > h4 {
  font-size: 24px;
  margin-top: 30px;
}

.cp_contents_txt > table {
  width: 100%;
}

.cct_show {
  width: 100%;
  overflow: hidden;
}
.cct_move {
  overflow-x: scroll;
}

.cct_move > table {
  width: 1000px;
  font-size: 15px;
  text-align: center;
  border-collapse: collapse;
  margin-top: 10px;
  font-weight: 500;
}

.cp_contents_txt td {
  border: 1px solid #ddd;
}

.cp_contents_txt table td {
  padding: 15px;
}

.cp_contents_txt tr:first-of-type > td {
  border-top: 1px solid #bbb;
}

.cp_contents_txt tr:nth-of-type(1) > td.cpt_num:first-of-type, .cp_contents_txt tr:nth-of-type(2) > td.cpt_num:first-of-type, .cp_contents_txt tr:nth-of-type(3) > td.cpt_num:first-of-type, .cp_contents_txt tr:nth-of-type(4) > td.cpt_num:first-of-type, .cp_contents_txt tr:nth-of-type(5) > td.cpt_num:first-of-type, .cp_contents_txt tr:nth-of-type(6) > td.cpt_num:first-of-type {
  border-left: none;
}

.cp_contents_txt tr:nth-of-type(1) > td.cpt_call, .cp_contents_txt tr:nth-of-type(2) > td.cpt_call, .cp_contents_txt tr:nth-of-type(3) > td.cpt_call, .cp_contents_txt tr:nth-of-type(4) > td.cpt_call, .cp_contents_txt tr:nth-of-type(5) > td.cpt_call, .cp_contents_txt tr:nth-of-type(6) > td.cpt_call {
  border-right: none;
}

.cpt_num {
  color: #464646;
  width: 5%;
}

.cpt_call {
  color: #464646;
  width: 15%;
}

.cpt_text {
  width: 30%;
}

.opentype {
  width: 100%;
  padding: 30px 0 30px 15px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  margin-top: 60px;
}

.opentype > span {
  font-size: 12px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bolder;
  margin-left: 20px;
  display: inline-block;
  margin-top: 15px;
}

.opentype > span > a {
  color: #666;
}

.review {
  padding: 25px 20px 20px 75px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #dbdbdb;
  margin-top: 40px;
}

.review > span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 25px;
}

.review > span > img {
  width: 30px;
  height: 30px;
}

.review > strong {
  font-size: 15px;
}

.review_control {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.rc_checkbox {
  height: 30px;
  display: flex;
  align-items: center;
}

.review_control label {
  font-size: 13px;
}

.rc_checkbox > label:not(:last-of-type) {
  margin-right: 5px;
}

.review_control input[type = "radio"] {
  margin: 0;
  width: 13px;
  height: 13px;
  position: relative;
  top: 2px;
  margin-right: 3px;
}

.rc_input {
  width: 490px;
  height: 30px;
  display: flex;
}

.rc_input > label {
  box-sizing: border-box;
  display: block;
  width: 410px;
}

.rc_input input[type = "search"] {
  width: 410px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding-left: 10px;
}

.rc_input input[type = "button"] {
  border: none;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 30px;
  box-sizing: border-box;
  background-color: #2f71d2;
  color: white;
  cursor: pointer;
}

.f_banner {
border-top: 1px solid #efefef;
border-bottom: 1px solid #efefef;
}

.f_banner_container {
width: 1420px;
height: 67px;
margin: 0 auto;
display: flex;
}

.f_banner_all {
width: 220px;
height: 67px;
display: flex;
align-items: center;
padding-left: 20px;
box-sizing: border-box;
}

.f_banner_all_txt > span {
font-size: 16px;
display: block;
}

.f_banner_all_btn {
display: flex;
margin-left: 20px;
}

.f_banner_all_btn > button {
width: 18px;
height: 18px;
background: none;
border: 1px solid #cecece;
display: flex;
align-items: center;
justify-content: center;
position: relative;
bottom: 1px;
cursor: pointer;
}

.fbs_play {
display: none;
}

.f_banner_all_btn > button > img {
filter: invert(77%) sepia(53%) saturate(0%) hue-rotate(235deg) brightness(100%) contrast(84%);
}

.f_banner_all_btn > button:not(:last-of-type) {
margin-right: 5px;
}

.f_banner_slide_container {
width: 1200px;
height: 67px;
overflow: hidden;
}

.f_banner_slide {
width: 3500px;
height: 67px;
display: flex;
position: relative;
}

.f_banner_slide > li {
height: 67px;
display: flex;
align-items: center;
justify-content: center;
white-space: nowrap;
overflow: hidden;
text-overflow: clip;
}

.f_banner_slide > li > a {
display: block;
font-size: 15px;
color: #666;
padding: 0 35px;
}

.f_menu {
background-color: #2280d7;
}

.f_menu_container {
width: 1420px;
height: 70px;
margin: 0 auto;
display: flex;
}

.gov_link {
width: 355px;
height: 70px;
border-right: 1px solid #efefef;
box-sizing: border-box;
position: relative;
display: flex;
align-items: center;
}

.gov_link > a {
padding: 0 50px 0 20px;
display: flex;
color: white;
}

.gov_link > a > img {
position: absolute;
right: 15px;
top: calc(50% - 8px);
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(192deg) brightness(104%) contrast(102%);
}

.gov_link_box {
background-color: white;
width: 355px;
border-right: 1px solid #efefef;
box-sizing: border-box;
position: absolute;
z-index: 15;
top: -369px;
display: none;
}

.gov_link_box > li {
border: 1px solid #efefef;
}

.gov_link_box > li > a {
display: block;
font-size: 14px;
padding: 15px 20px;
box-sizing: border-box;
}

.ch_link {
width: 355px;
height: 70px;
border-right: 1px solid #efefef;
box-sizing: border-box;
position: relative;
display: flex;
align-items: center;
}

.ch_link > a {
padding: 0 50px 0 20px;
display: flex;
color: white;
}

.ch_link > a > img {
position: absolute;
right: 15px;
top: calc(50% - 8px);
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(192deg) brightness(104%) contrast(102%);
}

.ch_link_box {
background-color: white;
width: 355px;
border-right: 1px solid #efefef;
box-sizing: border-box;
position: absolute;
z-index: 15;
top: -691px;
display: none;
}

.ch_link_box > li {
border: 1px solid #efefef;
}

.ch_link_box > li > a {
display: block;
font-size: 14px;
padding: 15px 20px;
box-sizing: border-box;
}

.tae_link {
width: 355px;
height: 70px;
border-right: 1px solid #efefef;
box-sizing: border-box;
position: relative;
display: flex;
align-items: center;
}

.tae_link > a {
padding: 0 50px 0 20px;
display: flex;
color: white;
}

.tae_link > a > img {
position: absolute;
right: 15px;
top: calc(50% - 8px);
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(192deg) brightness(104%) contrast(102%);
}

.tae_link_box {
background-color: white;
width: 355px;
border-right: 1px solid #efefef;
box-sizing: border-box;
position: absolute;
z-index: 15;
top: -185px;
display: none;
}

.tae_link_box > li {
border: 1px solid #efefef;
}

.tae_link_box > li > a {
display: block;
font-size: 14px;
padding: 15px 20px;
box-sizing: border-box;
}

.rel_link {
width: 355px;
height: 70px;
box-sizing: border-box;
position: relative;
display: flex;
align-items: center;
}

.rel_link > a {
padding: 0 50px 0 20px;
display: flex;
color: white;
}

.rel_link > a > img {
position: absolute;
right: 15px;
top: calc(50% - 8px);
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(192deg) brightness(104%) contrast(102%);
}

.rel_link_box {
background-color: white;
width: 355px;
border-right: 1px solid #efefef;
box-sizing: border-box;
position: absolute;
z-index: 15;
top: -139px;
display: none;
}

.rel_link_box > li {
border: 1px solid #efefef;
}

.rel_link_box > li > a {
display: block;
font-size: 14px;
padding: 15px 20px;
box-sizing: border-box;
}

.etc_container {
width: 1420px;
display: flex;
margin: 0 auto;
box-sizing: border-box;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #efefef;
}

.etc {
display: flex;
}

.etc > li > a {
padding: 30px 15px 25px 15px;
font-size: 16px;
color: #666;
display: block;
}

.etc > li:first-of-type > a {
padding: 30px 15px 25px 20px;
color: #e41a1a;
}

.sns {
display: flex;
}

.sns > li:not(:last-of-type) {
margin-right: 10px;
}

.sns svg {
width: 30px;
height: 30px;
}

.f_address_container {
padding: 35px 0 20px 0;
width: 1420px;
margin: 0 auto;
padding-left: 20px;
box-sizing: border-box;
position: relative;
}

.f_address_container > img {
position: absolute;
top: calc(50% - 31.5px);
right: 0;
}

address {
display: flex;
}

address > ul {
font-size: 14px;
color: #999;
margin-left: 40px;
}

address > ul > li:nth-of-type(2) {
margin-top: 15px;
font-size: 14px;
font-family: 'ChosunSg';
}

.scroll_in {
width: 43px;
height: 43px;
background-color: #2280d7;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.scroll_in > img {
filter: invert(100%) sepia(5%) saturate(5563%) hue-rotate(231deg) brightness(112%) contrast(104%);
}

.scroll_out {
width: 65px;
height: 65px;
background-color: #e2ecf9;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
right: -95px;
top: calc(50% - 32.5px);
cursor: pointer;
}